@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

// Set your brand colors
$blue: #2550D9;
$neutral: #9399A3;
$yellow: #FFAB00;
$green: #1FD16F;
$aqua: #00D1FF;
$background: #F9FAFC;

// Update Bulma's global variables
$family-sans-serif: "IBM Plex Sans", sans-serif;
$primary: $blue;
$link: $aqua;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $background;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;